.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.spinner-container .BarLoader {
  margin: 0 auto; 
}

.error-message {
  text-align: center; 
  color: #495057; 
  margin: 20px 0; 
}

.add-book-alert {
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
  font-weight: bold;
}

.add-book-alert-success {
  background-color: #d4edda; /* light green */
  color: #155724; /* dark green */
  border: 1px solid #c3e6cb; /* darker green border */
}

.add-book-alert-danger {
  background-color: #f8d7da; /* light red */
  color: #721c24; /* dark red */
  border: 1px solid #f5c6cb; /* darker red border */
}
